@import url("index.css");
@import url("modal.css");

* {
  font-weight: 600;
  font-size: 20pt;
}

body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column; 
  overflow: hidden;
  background-image: url("../assets/imgs/bg-2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.hidden {
  display: none;
}